<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="top-header">
    Exam Hall Seating Arrangement System
</div>

<div class="main-container">

    <div class="sidebar">
        <h3>DASHBOARD</h3>
        <ul>
            <li><a href="{{ url_for('students_page') }}">👨‍🎓 Students</a></li>
            <li><a href="{{ url_for('uploaded_batches') }}">📁 Uploaded Students</a></li>
            
            <li><a href="{{ url_for('halls_page') }}">🏫 Exam Halls</a></li>
            
            <li><a href="{{ url_for('hall_plan') }}">🪑 Hall Plan</a></li>
            <li><a href="{{ url_for('logout') }}">🚪 Logout</a></li>
        </ul>
    </div>
    
    <div class="dashboard-content">
        <h2>Exam Configuration</h2>
    
        <div class="back-container">
            <a href="{{ url_for('dashboard') }}" class="btn-back">
                ← Back to Dashboard
            </a>
        </div>
    
    
        <form action="/generate_all_seating" method="POST">

            <div class="form-row">
                <label>Year :</label>

                <label>
                    <input type="checkbox" name="year" value="2"> 2nd Year
                </label>

                <label>
                    <input type="checkbox" name="year" value="3"> 3rd Year
                </label>

                <label>
                    <input type="checkbox" name="year" value="4"> 4th Year
                </label>

                <label>Exam Date :</label>
                <input type="date" name="exam_date" required>
            </div>

            <div class="form-row">
                <label>Session :</label>
                <select name="session" required>
                    <option value="FN">FN</option>
                    <option value="AN">AN</option>
                </select>
            </div>

            

            <h3 style="text-align: center;">Departments Writing Exam</h3>

            <div class="dept-grid">

                <div>
                    <label>CSE 2nd Year:</label>
                    <input type="text" name="cse_2_subject" placeholder="Subject Code">
                </div>

                <div>
                    <label>CSE 3rd Year:</label>
                    <input type="text" name="cse_3_subject" placeholder="Subject Code">
                </div>

                <div>
                    <label>CSE 4th Year:</label>
                    <input type="text" name="cse_4_subject" placeholder="Subject Code">
                </div>

                <div>
                    <label>ECE 2nd Year:</label>
                    <input type="text" name="ece_2_subject" placeholder="Subject Code">
                </div>

                <div>
                    <label>ECE 3rd Year:</label>
                    <input type="text" name="ece_3_subject" placeholder="Subject Code">
                </div>

                <div>
                    <label>ECE 4th Year:</label>
                    <input type="text" name="ece_4_subject" placeholder="Subject Code">
                </div>

                <div>
                    <label>IT 2nd Year:</label>
                    <input type="text" name="it_2_subject" placeholder="Subject Code">
                </div>

                <div>
                    <label>IT 3rd Year:</label>
                    <input type="text" name="it_3_subject" placeholder="Subject Code">
                </div>

                <div>
                    <label>IT 4th Year:</label>
                    <input type="text" name="it_4_subject" placeholder="Subject Code">
                </div>

                <div>
                    <label>EEE 2nd Year:</label>
                    <input type="text" name="eee_2_subject" placeholder="Subject Code">
                </div>

                <div>
                    <label>EEE 3rd Year:</label>
                    <input type="text" name="eee_3_subject" placeholder="Subject Code">
                </div>

                <div>
                    <label>EEE 4th Year:</label>
                    <input type="text" name="eee_4_subject" placeholder="Subject Code">
                </div>

            </div>

            <div class="hall-btn-group">
                <button type="reset" class="btn-blue">Reset</button>
            
                <button type="submit" class="generate-btn">
                    Generate Seating
                </button>
            </div>
        
                
            
        </form>
        
        

                    
        
    
        <div class="hall-container">

            {% for hall in halls %}
            <div class="hall-card">

                <p><strong>{{ hall.hall_name }}</strong></p>
                <p>Capacity: {{ hall.capacity }}</p>

                <a href="{{ url_for('view_seating', hall_id=hall.id) }}">
                    <button class="view-btn">View Seating</button>
                </a>
                
            </div>
            {% endfor %}
            <div class="print-btn-container">
                <a href="/print_all" target="_blank">
                    <button class="generate-btn">Print</button>
                </a>
            </div>
                        
            
            

        </div>
    </div>


</div>

